body{
    background-color: #f1f8ff;
}
main{
    background: #f1f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10%;
}
.name{
    text-align: center;
    display: flex;
    Justify-content: center;
    padding-bottom: 3%;
}
.box {
    background-color: #f1f8ff;
    box-sizing: border-box;
    width: 500px;
    padding: 15px;
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
}

.additional-text {
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded .additional-text {
    white-space: normal;
    text-overflow: clip;
}

.hidden {
    padding-top: 20%;
    display: none;
}